<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <title>Login</title>
</head>
<body>
    <%- include('partials/_header', {user: user}) %>
    <form method="POST" action="/login" style="margin: 30px">
        <h1 style="margin-bottom: 20px">Login</h1>
        <label for="email"><strong>Email address</strong></label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Enter email" style="width: 300px; margin: 1px" required>
        <br>
        <label for="password"><strong>Password</strong></label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" style="width: 300px; margin: 1px" required>
        <br>
        <button class="form-control btn btn-primary" style="width: 100px; margin: 1px" type="submit">Login</button> 
    </form>
</body>
</html>
